{% extends "simple-sidebar/base.html" %}

{% block site_subtile %} | Admin Login{% endblock %}

{% block main_content %}
<!-- Based on http://bootsnipp.com/snippets/featured/compact-login-form-bs-3 -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="{{ host }}/admin/login" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User" name="user" type="text" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input type="hidden" name="redirect" value="{{ redirect }}">
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}